#ZONE      INTERFACE     BROADCAST     OPTIONS
# system network for inter node communications

{% if is_nosys %}
ext        {{interfaces.nosys}} detect dhcp,tcpflags,nosmurfs,routefilter,logmartians,upnpclient
{% else %}

## system
sys        {{paths[interfaces.system]}} detect dhcp

## external network (internet)
## mind paths for bonding!
ext        {{paths[interfaces.external]}} detect dhcp,tcpflags,nosmurfs,routefilter,logmartians,upnpclient

{% endif %}

# TODO: extend interfaces in each playbook

## openvpn tunnel
vpn        tun+

## docker.io
doc        docker+



#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
