#ZONE      INTERFACE     BROADCAST     OPTIONS
# system network for inter node communications
{% if nosys == "yes" %}
ext        {{interfaces.nosys}} detect dhcp,tcpflags,nosmurfs,routefilter,logmartians,upnpclient
{% else %}
# detect
sys        {{interfaces.system}}   detect dhcp
# external network (internet)
ext        {{interfaces.external}} detect dhcp,tcpflags,nosmurfs,routefilter,logmartians,upnpclient
{% endif %}
# openvpn tunnel
vpn        tun+
# docker.io
doc        docker+
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
