###############################################################################
#INTERFACE	HOST(S)			OPTIONS		PROTO	DEST	SOURCE
#								PORT(S)	PORT(S)
# SSH should always go
{{interfaces.system}}   -               -               TCP     22
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
