#!/bin/bash

# http://vuksan.com/centos/RPMS-6/x86_64/ganglia-devel-3.6.0-1.x86_64.rpm
# http://vuksan.com/centos/RPMS-6/x86_64/ganglia-gmetad-3.6.0-1.x86_64.rpm
# http://vuksan.com/centos/RPMS-6/x86_64/ganglia-gmond-3.6.0-1.x86_64.rpm
# http://vuksan.com/centos/RPMS-6/x86_64/ganglia-gmond-modules-python-3.6.0-1.x86_64.rpm
# http://vuksan.com/centos/RPMS-6/x86_64/libganglia-3.6.0-1.x86_64.rpm

mkdir -p /repo/ganglia
pushd /repo/ganglia

v=3.6.0-1.x86_64

for i in ganglia-devel ganglia-gmetad ganglia-gmond ganglia-gmond-modules-python libganglia ; do
  wget http://vuksan.com/centos/RPMS-6/x86_64/${i}-${v}.rpm
done

yum -y localinstall *.rpm

createrepo /repo/ganglia
