# rsyslog v5 configuration file
$ModLoad imuxsock
$ModLoad imklog
$ModLoad immark
$ActionFileDefaultTemplate RSYSLOG_FileFormat
$IncludeConfig /etc/rsyslog.d/*.conf
# kern.*         /dev/console
local7.*       /var/log/boot.log
### begin forwarding rule ###
*.* @{{warewulf.loghost}}:514
### end of the forwarding rule ###
