#ZONE    TYPE    OPTIONS                 IN                      OUT
#                                        OPTIONS                 OPTIONS
fw       firewall
sys      ipv4
ext      ipv4
vpn      ipv4
doc      ipv4

