# basic access for System Operators
{% if nosys != "yes" %}
ACCEPT     sys:+sysop           $FW       tcp        22
ACCEPT     sys:+sysop           $FW       tcp        80
ACCEPT     sys:+sysop           $FW       tcp       443
{% endif %}
