<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>

  <!-- HISTORY -->
  <property>
    <name>mapreduce.jobhistory.address</name>
    <value>{{master}}:10020</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.webapp.address</name>
    <value>{{master}}:19888</value>
  </property>

  <!-- COMPRESS -->
  <property>
    <name>mapreduce.output.fileoutputformat.compress</name> 
    <value>true</value>
  </property> 
 
  <property> 
    <name>mapreduce.output.fileoutputformat.compression.type</name> 
    <value>RECORD</value> 
  </property> 
                               
  <property> 
    <name>mapreduce.output.fileoutputformat.compression.codec</name> 
    <value>org.apache.hadoop.io.compress.DefaultCodec</value> 
  </property>
</configuration>
