# TCP/UDP Port rquotad should listen on.
RQUOTAD_PORT=875
# TCP port rpc.lockd should listen on.
LOCKD_TCPPORT=32803
# UDP port rpc.lockd should listen on.
LOCKD_UDPPORT=32769
# TCP/UDP Port rpc.mountd should listen on.
MOUNTD_PORT=892
# TCP/UDP Port rpc.statd should listen on.
STATD_PORT=662
# TCP Outgoing port statd should used
STATD_OUTGOING_PORT=2020
# TCP
RDMA_PORT=20049
