#!/bin/bash
_hosts=${1:-{{warewulf.os}}}

### random stuff
chroot ${_hosts} mknod /dev/random c 1 8
chroot ${_hosts} mknod /dev/urandom c 1 9

### install repos
./clonebook ${_hosts} playbooks/repos.yml

### update package cache
./cloneyum ${_hosts} makecache

### install kernel and utils
./cloneyum ${_hosts} install htop sysstat ntp ptpd rsync autofs x86info tuna

### install mainline kernel
./cloneyum ${_hosts} install kernel-ml kernel-ml-firmware --enablerepo=elrepo-kernel

### install slurm packages
./cloneyum ${_hosts} install munge slurm slurm-munge slurm-pam_slurm slurm-perlapi slurm-plugins slurm-sjobexit slurm-sjstat

### install ganglia packages
./cloneyum ${_hosts} install ganglia-gmond ganglia-gmond-modules-python

### install warewulf packages
./cloneyum ${_hosts} install warewulf-nhc
