#!/bin/bash
#
# http://stackoverflow.com/questions/8591394/openssl-inside-a-chroot
#
# TODO: fail test
#
_hosts=${1:-{{warewulf.os}}}

chroot ${_hosts} mknod /dev/urandom c 1 9

echo "Configure rsyslog"
./clonebook ${_hosts} playbooks/rsyslog

echo "Configure ganglia"
./clonebook ${_hosts} playbooks/ganglia

echo "Configure users"
./clonebook ${_hosts} playbooks/users

echo "Configure munge"
chroot ${_hosts} chkconfig munge off
./clonebook ${_hosts} playbooks/munge
chroot ${_hosts} chkconfig munge on

echo "Configure slurm"
./clonebook ${_hosts} playbooks/slurm

echo "Configure ntpd"
./clonebook ${_hosts} playbooks/ntpd
chroot ${_hosts} chkconfig ntpd on

echo "Configure autofs"
./clonebook ${_hosts} playbooks/autofs

echo "Enable tuning"
./clonebook ${_hosts} playbooks/tune

echo "Change inittab"
./clonebook ${_hosts} playbooks/inittab

chroot ${_hosts} rm /dev/urandom
