#!/bin/bash
_image=${1:-{{warewulf.os}}/2.6.32-358.11.1.el6.x86_64}
shift
_nodes=${1:-compute/cn-0[1-3]}

_os=${_image/\/*}
_kernel=${_image/*\/}

_group=${_nodes/\/*}
_hosts=${_nodes/*\/}

wwnodescan --netdev={{warewulf.interface}} \
           --ipaddr={{warewulf.cn_first_ip}} \
           --netmask={{dhcp_masks.compute}} \
           --vnfs=${_os} --bootstrap=${_kernel} \
           ${_hosts} -g ${_group}
