#!/bin/bash

### vars
template=/etc/slurm/slurm.conf.template
config=/etc/slurm/slurm.conf

function slurmconf/config() {
  cat ${template}
}

function slurmconf/genders() {
  wwsh node print --lookup=groups ${group} | \
  grep NODENAME | \
  awk -v g=${group} '{print $4,g}' \
  > /etc/genders
}

function slurmconf/slurm() {
  local _nodes=$(nodeattr -q ${group})
  cat ${template} | \
  sed s/^###NODES###/NodeName=${_nodes}/ | \
  sed s/^###PARTITION###/PartitionName=DEFAULT\ Nodes=${_nodes}\ MaxTime=INFINITE\ State=UP/ \
  > ${config}
}

function slurmconf/import() {
  local _src=${1}
  local _dest=${2:-${_src}}
  local _mode=${3:-0640}
  if ! test -r "${_src}" ; then
    echo "$FUNCNAME not found ${_src}"
    return 1
  fi
  echo "Importing: ${_src} (${_mode})"
  local _bn=$(basename ${_src})
  wwsh file import ${_src} --name=${_bn} --path=${_dest} --mode=${_mode}
  wwsh provision set --lookup groups ${group} --fileadd=${_bn}
}

function slurmconf/provision() {

  slurmconf/import /etc/slurm/slurm.conf

  slurmconf/import ${PWD}/playbooks/templates/nhc.conf /etc/nhc/nhc.conf

  slurmconf/import ${PWD}/playbooks/templates/rc.local /etc/rc.d/rc.local 0755

  export PSSH_OPTIONS="IdentityFile=playbooks/keys/cluster"
  pssh -H "$(nodeattr -n ${group})" -v /warewulf/bin/wwgetfiles
}


### args
group=${1:-compute}
shift

### main
echo ""
read -p "Create genders?"
slurmconf/genders
nodeattr --compress

echo ""
read -p "Create slurm.conf?"
slurmconf/slurm

echo ""
read -p "Provision nodes?"
slurmconf/provision

# read -p "Reconfigure Slurm?"
# scontrol reconfigure
