# gluster clients
# http://gluster.org/community/documentation/index.php/Gluster_3.2:_Installing_GlusterFS_on_Red_Hat_Package_Manager_(RPM)_Distributions
#
ACCEPT       sys:+gluster      $FW         tcp         24007:24047
ACCEPT       sys:+gluster      $FW         tcp         111
ACCEPT       sys:+gluster      $FW         udp         111 
ACCEPT       sys:+gluster      $FW         tcp         38465:38467
# https://bugzilla.redhat.com/show_bug.cgi?id=987555
ACCEPT       sys:+gluster      $FW         tcp         49152:
#
Ping(ACCEPT) sys:+gluster      $FW
