port=8200
#media_dir=A,/dlna/Music
#media_dir=P,/dlna/Pictures
#media_dir=V,/dlna/Videos
media_dir=T,/dlna/Torrent
friendly_name=dlna
album_art_names=Cover.jpg/cover.jpg/AlbumArtSmall.jpg/albumartsmall.jpg/AlbumArt.jpg/albumart.jpg/Album.jpg/album.jpg/Folder.jpg/folder.jpg/Thumb.jpg/thumb.jpg
inotify=yes
enable_tivo=no
strict_dlna=no
notify_interval=900
serial=12345678
model_number=1
