# VH
ACCEPT     ext:+vh       $FW       tcp      11940
ACCEPT     ext:+vh       $FW       udp      11940
# T-mobile
ACCEPT     ext:+tmobile       $FW       tcp      11940
ACCEPT     ext:+tmobile       $FW       udp      11940
