ACCEPT     ext:+openvpn       $FW       tcp      11940
ACCEPT     ext:+openvpn       $FW       udp      11940
{% if nosys != "yes" %}
ACCEPT     sys:+sysop         $FW       tcp      11940
ACCEPT     sys:+sysop         $FW       udp      11940
{% endif %}
