#!/bin/bash

PEERS="{%- for host in hostvars %}
{{- hostvars[host]['ansible_'+paths[interfaces.storage]]['ipv4']['address'] }}
{%- if not loop.last %}
,
{%- endif %}
{%- endfor %}"

DISKS="{%- for host in hostvars %}
{{- hostvars[host]['ansible_'+paths[interfaces.storage]]['ipv4']['address'] }}:{{- gluster.lv_mnt }}
{%- if not loop.last %}
{{- ' ' }}
{%- endif %}
{%- endfor %}"

VOLUME={{ gluster.volume }}
REPLICA={{ gluster.replica }}

echo ""
echo "Peers: $PEERS"
echo ""
for i in $(echo $PEERS | sed s/,/\ /g) ; do
  if [ "$(hostname -i)" != "$i" ] ; then
    read -p "Peer probe $i?"
    gluster peer probe $i
  fi
done

echo ""
gluster peer status

echo ""
read -p "Create volume $VOLUME on $DISKS?"
gluster volume create $VOLUME replica $REPLICA transport {{gluster.transport}} $DISKS

echo ""
read -p "Start volume $VOLUME?"
gluster volume start $VOLUME

echo ""
read -p "Volume info $VOLUME?"
gluster volume info

# read -p "Set authentication on $VOLUME?"
# gluster volume set $VOLUME auth.allow $ROOT_AUTH
